/*
SmartColumns
by Colin James Firth
https://github.com/colinjamesfirth/smartcolumns
verson 1.4
*/

/*
THEME: BASIC
*/

* {
  box-sizing: border-box;
}
html {
  font-size: 14px;
}
body {
  font-size: inherit;
}

.smartcol-container button,
.smartcol-container select {
  display: inline-flex;
  cursor: pointer;
  min-height: 2.5em;
  padding: 0 0.5rem;
  align-items: center;
  font-size: 1rem;
  max-width: 100%;
  text-overflow: ellipsis;
  box-sizing: border-box;
  outline: 0;
  border: 1px solid #333;
  background: white;
  border-radius: 0.3em;
}

.smartcol-container button:hover,
.smartcol-container button:focus {
  background: #666666;
  color: white;
  outline: 0;
  border: 1px solid #333;
}

.smartcol-container table {
  border: 1px solid grey;
  font-size: 1rem;
  text-align: left;
  margin-bottom: 2rem;
}
.smartcol-container table th {
  background: #e5e5e5;
}
.smartcol-container table th,
.smartcol-container table td {
  padding: 1rem 0.75rem;
  border-bottom: 1px solid grey;
}

.smartcol-container table th:not(:first-child),
.smartcol-container table td:not(:first-child) {
  border-left: 1px solid grey;
}

/* additional styles for if we have the clickable rows (an early feature that was moved out of smartColumn for being out of scope) */
.smartcol-container table tr[data-row-clickable] {
  cursor: pointer;
}
.smartcol-container table tr[data-row-clickable]:hover {
  background: #e5e5e5;
}

.smartcol-container table caption {
  background: #e5e5e5;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.smartcol-container .button-wrapper {
  display: inline-flex;
  justify-content: space-between;
  gap: 0.5em;
}

/* selectable column */
.smartcol-container [data-smartcol-selectable] select {
  padding-bottom: 0.25rem;
  border-top: 0.25rem solid grey;
}
.smartcol-container [data-smartcol-selectable] select:hover,
.smartcol-container [data-smartcol-selectable] select:focus {
  background: #666666;
  border-color: #666666;
  color: white;
}
