/* GENERAL STYLES */

* {
  box-sizing: border-box;
}
html {
  font-size: 14px;
}
body {
  font-size: inherit;
}

button,
select {
  display: inline-flex;
  cursor: pointer;
  min-height: 2.5em;
  padding: 0 0.5rem;
  align-items: center;
  font-size: 1rem;
  max-width: 100%;
  text-overflow: ellipsis;
  box-sizing: border-box;
  outline: 0;
  border: 1px solid #333;
  background: white;
  border-radius: 0.3em;
}

button:hover,
button:focus {
  background: #666666;
  color: white;
  outline: 0;
  border: 1px solid #333;
}


table {
  border: 1px solid grey;
  font-size: 1rem;
  text-align: left;
  margin-bottom: 2rem;
}
table th {
  background: #e5e5e5;
}
table th,
table td {
  padding: 1rem 0.75rem;
  border-bottom: 1px solid grey;
}

table th:not(:first-child),
table td:not(:first-child) {
  border-left: 1px solid grey;
}

/* additional styles for if we have the clickable rows (an early feature that was moved out of smartColumn for being out of scope) */
table tr[data-row-clickable] {
  cursor: pointer;
}
table tr[data-row-clickable]:hover {
  background: #e5e5e5;
}

table caption {
  background: #e5e5e5;
  padding: 1rem;
  margin-bottom: 0.5rem;
}


/* SMART COLUMNS STYLES */

.smartcol-container {
  /* being explicit, because these are ciritical to the component working */
  display: block;
  width: 100%;

}

.smartcol-container table {
  box-sizing: border-box;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
}

.smartcol-container table thead th {
  overflow: hidden;
  text-overflow: ellipsis;
}

.smartcol-container table th,
.smartcol-container table td {
  box-sizing: border-box;
}

.smartcol-container table [data-smartcol-wrap] {
  word-break: break-word;
  overflow-wrap: break-word;
}

.smartcol-container table [data-smartcol-align="left"] {
  text-align: left;
}
.smartcol-container table [data-smartcol-align="center"] {
  text-align: center;
  padding-left: 0.25em;
  padding-right: 0.25em;
}
.smartcol-container table [data-smartcol-align="right"] {
  text-align: right;
}

.smartcol-container table th[data-smartcol-width="narrow"] {
  width: 5rem;
}
/*.smartcol-container table th:not([data-smartcol-width]), */
.smartcol-container table th[data-smartcol-width="normal"] {
  width: 10rem;
}
.smartcol-container table th[data-smartcol-width="wide"],
.smartcol-container table th[data-smartcol-width="stretch"] {
  width: 15rem;
}

.smartcol-container table th[data-smartcol-width].smartcol-width-auto {
  width: auto;
}

.smartcol-container span[data-smartcol-actions-wrap] {
  display: inline-flex;
  justify-content: space-between;
  gap: 0.5em;
}

.smartcol-container table thead th[data-smartcol-selectable] {
  position: relative;
}

.smartcol-container table th[data-smartcol-selectable]:after {
  content: "\00a0";
}

.smartcol-container table thead th[data-smartcol-selectable] select {
  position: absolute;
  inset: 0 0 0 0;
  width: 100%;
  padding-bottom: 0.25rem;
  border: none;
  border-top: 0.25rem solid grey;
  border-radius: 0;
  outline: 0;
  background: transparent;
  font-weight: inherit;
}
.smartcol-container table thead th[data-smartcol-selectable] select:hover,
.smartcol-container table thead th[data-smartcol-selectable] select:focus {
  background: #666666;
  border-color: #666666;
  color: white;
}

.smartcol-container .smartcol-overflow-none {
  overflow: hidden;
  text-overflow: clip;
}
