/* GENERAL STYLES */

* {
  box-sizing: border-box;
}
html {
  font-size: 14px;
}
body {
  font-size: inherit;
}

button,
select {
  display: inline-flex;
  cursor: pointer;
  min-height: 2.5em;
  padding: 0 0.5rem;
  align-items: center;
  font-size: 1rem;
  max-width: 100%;
  text-overflow: ellipsis;
  box-sizing: border-box;
  outline: 0;
  border: 1px solid #333;
  background: white;
  border-radius: 0.3em;
}

button:hover,
button:focus {
  background: #666666;
  color: white;
  outline: 0;
  border: 1px solid #333;
}



/* SMART COLUMNS STYLES */

.smart-columns-container table {
  font-size: 1rem;
}

.smart-columns-container table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid grey;
  width: 100%;
  max-width: 100%;
  text-align: left;
}

.smart-columns-container table thead th {
  background: #e5e5e5;
  overflow: hidden;
  text-overflow: ellipsis;
}

.smart-columns-container table th,
.smart-columns-container table td {
  padding: 1rem 0.75rem;
  box-sizing: border-box;
  border-bottom: 1px solid grey;
}

.smart-columns-container table [data-smartcol-wrap] {
  word-break: break-word;
  overflow-wrap: break-word;
}
.smart-columns-container table [data-smartcol-center] {
  text-align: center;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.smart-columns-container table th:not(:first-child),
.smart-columns-container table td:not(:first-child) {
  border-left: 1px solid grey;
}

.smart-columns-container table th[data-smartcol-width="auto"] {
  width: auto;
}
.smart-columns-container table th[data-smartcol-width="narrow"] {
  width: 5rem;
}
.smart-columns-container table th:not([data-smartcol-width]),
.smart-columns-container table th[data-smartcol-width="normal"] {
  width: 10rem;
}
.smart-columns-container table th[data-smartcol-width="wide"] {
  width: 15rem;
}

@media screen and (max-width: 400px) {
  .smart-columns-container table th:not([data-smartcol-width]),
  .smart-columns-container table th[data-smartcol-width="auto"],
  .smart-columns-container table th[data-smartcol-width="narrow"],
  .smart-columns-container table th[data-smartcol-width="normal"],
  .smart-columns-container table th[data-smartcol-width="wide"] {
    width: auto;
  }
}

.smart-columns-container table tr[data-row-clickable] {
  cursor: pointer;
}
.smart-columns-container table tr[data-row-clickable]:hover {
  background: #e5e5e5;
}

.smart-columns-container table .actions-column {
  text-align: center;
}

.smart-columns-container table .actions-column span {
  display: inline-flex;
  justify-content: space-between;
  gap: 0.5em;
}

.smart-columns-container table thead th {
  position: relative;
}

.smart-columns-container table th[data-column-selectable]:after {
  content: "\00a0";
}

.smart-columns-container table thead select {
  position: absolute;
  inset: 0 0 0 0;
  font-weight: bold;
  border: none;
  border-top: 0.25rem solid grey;
  padding-bottom: 0.25rem;
  outline: 0;
  width: 100%;
  background: #e5e5e5;
  border-radius: 0;
}
.smart-columns-container table thead select:hover,
.smart-columns-container table thead select:focus {
  background: #666666;
  border-color: #666666;
  color: white;
}

